<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Bank Management System</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <style>
        .navbar-custom {
            display: flex;
            justify-content: space-between; /* Adjusted to space between items */
            width: 100%;
        }

        .slogan {
            font-size: 1.5em;
            font-weight: bold;
            color: #fff;
            text-align: center; /* Centering the slogan */
            margin: 0 auto; /* Horizontally centering */
        }

        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            text-align: center;
            background-color: #f8f9fa;
            padding: 10px 0;
            border-top: 1px solid #e7e7e7;
        }

        .form-group {
            margin-bottom: 20px;
        }

            .form-group label {
                font-weight: bold;
            }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
        }

        .btn-danger {
            background-color: #dc3545;
            border-color: #dc3545;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top navbar-custom">
        <a class="navbar-brand" href="#"></a>
        <span class="slogan">Your Trusted Partner in Financial Growth</span>
        @if (!Request.Url.AbsolutePath.Contains("/Login/CustomerLogin") && !Request.Url.AbsolutePath.Contains("/login/EmployeeLogin") && !Request.Url.AbsolutePath.Contains("/Login"))
        {
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Login")">Logout</a>
                </li>
            </ul>
        }
    </div>

    <div class="container body-content" style="padding-top: 70px;">
        @RenderBody()
    </div>

    <footer class="footer">
        <p>&copy; @DateTime.Now.Year - Bank Management System</p>
    </footer>

    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
