@model BankManagementSystem_WEB.ViewModels.AccountHubViewModel

@{
    ViewBag.Title = "Account Hub";
}


    <title>@ViewBag.Title - Bank Management System</title>
    <style>
        .content-header {
            margin-bottom: 30px;
            text-align: center;
        }

            .content-header h2 {
                font-size: 2em;
                color: #4a4a4a;
            }

        .account-details, .transactions {
            margin-bottom: 30px;
        }

        .modal-header {
            background-color: #007bff;
            color: white;
        }

        .btn-custom {
            margin-right: 10px;
        }

        .table th, .table td {
            vertical-align: middle;
        }
    </style>


    <div class="container">
        <div class="content-header">
            <h2>Welcome @Model.Account.Customer.FirstName @Model.Account.Customer.LastName !</h2>
        </div>

        <div class="account-details">
            <h4>Account Details</h4>
            <hr />
            <dl class="dl-horizontal row">
                <dt class="col-sm-3">Account ID</dt>
                <dd class="col-sm-9">@Model.Account.AccountId</dd>

                <dt class="col-sm-3">Customer</dt>
                <dd class="col-sm-9">@Model.Account.Customer.Email</dd>

                <dt class="col-sm-3">Balance</dt>
                <dd class="col-sm-9">@Model.Account.Balance.ToString("C")</dd>

                <dt class="col-sm-3">Account Type</dt>
                <dd class="col-sm-9">@Model.Account.AccountType</dd>
            </dl>
        </div>

        <div class="transactions">
            <h4>Transactions</h4>

            <div class="mb-3">
                <button type="button" class="btn btn-primary btn-custom" data-bs-toggle="modal" data-bs-target="#depositModal">Deposit</button>
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#withdrawModal">Withdraw</button>
            </div>

            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>Transaction ID</th>
                        <th>Amount</th>
                        <th>Transaction Type</th>
                        <th>Transaction Date</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Transactions)
                    {
                        <tr>
                            <td>@item.TransactionId</td>
                            <td>@item.Amount.ToString("C")</td>
                            <td>@item.TransactionType</td>
                            <td>@item.TransactionDate.ToString("g")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <!-- Deposit Modal -->
        <div class="modal fade" id="depositModal" tabindex="-1" aria-labelledby="depositModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="depositModalLabel">Deposit</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        @Html.Partial("_DepositForm", new BankManagementSystem_WEB.ViewModels.TransactionViewModel { AccountId = Model.Account.AccountId })
                    </div>
                </div>
            </div>
        </div>

        <!-- Withdraw Modal -->
        <div class="modal fade" id="withdrawModal" tabindex="-1" aria-labelledby="withdrawModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="withdrawModalLabel">Withdraw</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        @Html.Partial("_WithdrawForm", new BankManagementSystem_WEB.ViewModels.TransactionViewModel { AccountId = Model.Account.AccountId })
                    </div>
                </div>
            </div>
        </div>
